@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
/* ========== Variables ========== */
/* ========== End Variables ========== */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* ========== Mixins ========== */
/* ========== End Mixins ========== */
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_ZpC3gTD_u50.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_ZpC3g3D_u50.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_ZpC3gbD_u50.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_ZpC3gfD_u50.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_ZpC3gnD_g.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3gTD_u50.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3g3D_u50.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3gbD_u50.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3gfD_u50.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3gnD_g.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gTD_u50.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3g3D_u50.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gbD_u50.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gfD_u50.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"), url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_c5H3gTD_u50.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"), url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_c5H3g3D_u50.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"), url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_c5H3gbD_u50.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"), url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_c5H3gfD_u50.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"), url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_c5H3gnD_g.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* ========== Common ========== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

body.modal-open {
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ========== End Common ========== */
/* ========== Fix-Scrollbar ========== */
/* ========== End Fix-Scrollbar ========== */
/* ========== Container ========== */
.container {
  padding: 0 20px;
}

@media screen and (min-width: 319px) {
  .container {
    width: 319px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 727px) {
  .container {
    width: 727px;
  }
}
@media screen and (min-width: 1355px) {
  .container {
    width: 1355px;
  }
}
/* ========== End Container ========== */
/* ========== Logo ========== */
.logo {
  display: block;
  width: 80px;
}
.logo__title {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: 0.04em;
  color: #111518;
}
.logo__title--white {
  color: #ffffff;
}
.logo__icon {
  width: 14px;
  height: 20px;
  margin-left: 4px;
  margin-right: 4px;
}
.logo__subtitle {
  font-weight: 700;
  font-size: 5px;
  line-height: 1.2;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: #111518;
}
.logo__subtitle--white {
  color: #ffffff;
}
.logo__subtitle-part {
  color: #ff6b09;
}

@media screen and (min-width: 727px) {
  .logo {
    width: 128px;
  }
  .logo__title {
    font-size: 26px;
    line-height: 1.2307692308;
  }
  .logo__icon {
    width: 22px;
    height: 30px;
  }
  .logo__subtitle {
    font-size: 8px;
    line-height: 1.25;
  }
}
/* ========== End Logo ========== */
/* ========== Button ========== */
.button {
  min-width: 260px;
  height: 48px;
  padding: 14px 6px;
  background-color: #ff6b09;
  border: 2px solid transparent;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.button:hover, .button:focus {
  background-color: transparent;
  border-color: #ff6b09;
  color: #ff6b09;
}
.button--reverse {
  background-color: transparent;
  border-color: #ff6b09;
  color: #ff6b09;
}
.button--reverse:hover, .button--reverse:focus {
  background-color: #ff6b09;
  border-color: transparent;
  color: #ffffff;
}

@media screen and (min-width: 1355px) {
  .button {
    min-width: 354px;
    height: 70px;
    padding: 23px;
    font-size: 14px;
    line-height: 1.2142857143;
    letter-spacing: 0.14em;
  }
  .button--reverse {
    min-width: 336px;
    padding: 26px 21px;
  }
}
/* ========== End Button ========== */
/* ========== Block-List ========== */
.block-list__num {
  display: inline-block;
}

@media screen and (max-width: 726px) {
  .block-list {
    position: absolute;
    top: 205px;
    left: 20px;
    right: 20px;
    padding: 20px 15px 20px 30px;
    max-width: 280px;
    height: 488px;
    background: #ffffff;
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  }
  .block-list__num {
    position: relative;
    padding: 3.5px 0;
    font-size: 14px;
    line-height: 1.2142857143;
    font-weight: 700;
    letter-spacing: 0.08em;
    color: #ff6b09;
    margin-left: 22px;
    margin-bottom: 5px;
  }
  .block-list__num::before {
    position: absolute;
    content: "";
    display: block;
    height: 2px;
    width: 14px;
    left: -22px;
    bottom: 11px;
    background-color: #ff6b09;
    border-radius: 2px;
  }
  .block-list__title {
    max-width: 245px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4285714286;
    letter-spacing: 0.08em;
  }
  .block-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 727px) and (max-width: 1354px) {
  .block-list {
    top: 188.5px;
    left: 40px;
    right: 40px;
    padding: 27px 76px;
    max-width: 688px;
    height: 303px;
    background: #ffffff;
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  }
  .block-list__list {
    display: flex;
    flex-wrap: wrap;
  }
  .block-list__num {
    position: relative;
    font-size: 14px;
    line-height: 1.6428571429;
    font-weight: 700;
    letter-spacing: 0.08em;
    color: #ff6b09;
    margin-left: 22px;
    margin-bottom: 10px;
  }
  .block-list__num::before {
    position: absolute;
    content: "";
    display: block;
    height: 2px;
    width: 14px;
    left: -22px;
    bottom: 11px;
    background-color: #ff6b09;
    border-radius: 2px;
  }
  .block-list__item:not(:nth-child(2n)) {
    margin-right: 22px;
  }
  .block-list__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 10px;
  }
  .block-list__title {
    width: 236px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4285714286;
    letter-spacing: 0.08em;
  }
}
@media screen and (max-width: 1354px) {
  .block-list__title--br {
    width: 142px;
  }
}
@media screen and (min-width: 1355px) {
  .block-list {
    position: absolute;
    top: 348px;
    padding: 66px 113.5px;
    max-width: 1314px;
    height: 362px;
    background: #ffffff;
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  }
  .block-list__item {
    width: 330px;
  }
  .block-list__list {
    display: flex;
    flex-wrap: wrap;
  }
  .block-list__num {
    position: relative;
    font-size: 20px;
    line-height: 1.65;
    font-weight: 700;
    letter-spacing: 0.08em;
    color: #ff6b09;
    margin-left: 30px;
    margin-bottom: 10px;
  }
  .block-list__num::before {
    position: absolute;
    content: "";
    display: block;
    height: 2px;
    width: 20px;
    left: -30px;
    bottom: 16px;
    background-color: #ff6b09;
    border-radius: 2px;
  }
  .block-list__item:not(:nth-child(3n)) {
    margin-right: 40px;
  }
  .block-list__item:not(:nth-last-child(-n+3)) {
    margin-bottom: 32px;
  }
  .block-list__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.08em;
  }
}
/* ========== End Block-List ========== */
/* ========== Header ========== */
.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
}
.header__logo-container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1354px) {
  .header__menu-container.is-open {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 21, 24, 0.9);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: scroll;
  }
  .header__menu-button {
    padding: 0;
    margin: 0 0 0 auto;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .header__icon-menu {
    stroke: #111518;
  }
  .header__menu-button:hover .header__icon-menu, .header__menu-button:focus .header__icon-menu {
    stroke: #ff6b09;
  }
  .header__menu-button.is-open .header__icon-menu {
    stroke: #111518;
  }
  .header__icon-cross {
    display: none;
  }
  .header__menu-button.is-open .header__icon-cross {
    display: block;
    stroke: #ffffff;
  }
  .header__menu-button.is-open:hover .header__icon-cross, .header__menu-button.is-open:focus .header__icon-cross {
    stroke: #ff6b09;
  }

  .header__menu-container.is-open .logo__title, .header__menu-container.is-open .logo__subtitle {
    color: #ffffff;
  }
}
@media screen and (max-width: 726px) {
  .header {
    height: 90px;
  }
  .header__container {
    padding-top: 30px;
  }
  .header__menu-container.is-open .header__logo-container {
    margin-bottom: 50px;
  }
  .header__button {
    display: none;
  }
  .header__menu-container.is-open .header__button {
    display: block;
    margin: 0 auto;
  }
}
@media screen and (min-width: 727px) and (max-width: 1354px) {
  .header {
    height: 125px;
  }
  .header__container {
    position: relative;
    padding-top: 40px;
  }
  .header__menu-container.is-open .header__logo-container {
    margin-bottom: 71px;
  }
  .header__button {
    position: absolute;
    top: 40px;
    right: 81px;
  }
  .header__menu-container.is-open .header__button {
    opacity: 0.1;
    pointer-events: none;
  }
}
@media screen and (min-width: 1355px) {
  .header {
    height: 138px;
  }
  .header__container {
    display: flex;
    padding-top: 34px;
  }
  .header__button {
    margin-left: auto;
  }
  .header__menu-button {
    display: none;
  }
}
.navigation__link:hover, .navigation__link:focus {
  color: #ff6b09;
}

@media screen and (max-width: 1354px) {
  .navigation {
    display: none;
    font-weight: 800;
    font-size: 26px;
    line-height: 1.8076923077;
    letter-spacing: 0.03em;
  }
  .header__menu-container.is-open .navigation {
    display: block;
  }
  .header__menu-container.is-open .navigation__list {
    max-width: 332px;
    margin: 0 auto;
  }
  .navigation__link {
    color: #ffffff;
  }
}
@media screen and (max-width: 726px) {
  .navigation {
    font-size: 20px;
    line-height: 1.8;
  }
  .header__menu-container.is-open .navigation {
    margin-bottom: 50px;
  }
  .header__menu-container.is-open .navigation__list {
    max-width: 260px;
  }
}
@media screen and (min-width: 1355px) {
  .navigation__list {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 144px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2142857143;
    text-transform: uppercase;
  }
  .navigation__item:not(:last-child) {
    margin-right: 40px;
  }
  .navigation__link {
    color: #b9b9b9;
  }
}
/* ========== End Header ========== */
/* ========== Hero ========== */
.hero {
  background-repeat: no-repeat;
  background-position: 50% 0;
  overflow: hidden;
}

.hero-container {
  position: relative;
}
.hero-container::after {
  content: "";
  position: absolute;
  display: block;
}
.hero-container__title {
  font-weight: 800;
  letter-spacing: 0.03em;
  color: #111518;
  margin-bottom: 30px;
}
.hero-container__text {
  letter-spacing: 0.08em;
  font-size: 14px;
  line-height: 1.5714285714;
}

@media screen and (max-width: 726px) {
  .hero {
    background-image: url("/mobile-bg.efe0c000.png");
    background-size: 320px;
  }

  .hero-container {
    padding-top: 110px;
    padding-bottom: 285px;
    display: flex;
    flex-direction: column;
  }
  .hero-container__title {
    font-size: 20px;
    line-height: 1.35;
  }
  .hero-container__text {
    margin-bottom: 30px;
  }
  .hero-container__button {
    margin: 0 auto;
  }
  .hero-container::after {
    bottom: 77px;
    left: 56px;
    width: 208px;
    height: 178px;
    background: url("/mobile-main1.d284fea8.png") no-repeat 0 10px, url("/mobile-main2.48571a6b.png") no-repeat 20px 0;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 726px), screen and (min-resolution: 192dpi) and (max-width: 726px), screen and (min-resolution: 2dppx) and (max-width: 726px) {
  .hero {
    background-image: url("/mobile-bg@2x.19d70211.png");
  }

  .hero-container::after {
    background: url("/mobile-main1@2x.3b497260.png") 0 10px, url("/mobile-main2@2x.97162a15.png") no-repeat 20px 0 contain;
  }
}
@media screen and (min-width: 727px) and (max-width: 1354px) {
  .hero {
    background-image: url("/tablet-bg.01a0e6c1.png");
    background-size: 768px;
  }

  .hero-container {
    padding-top: 158px;
    padding-bottom: 143px;
  }
  .hero-container__title {
    font-size: 26px;
    line-height: 1.3076923077;
    width: 332px;
    margin-bottom: 24px;
  }
  .hero-container__text {
    max-width: 300px;
    margin-bottom: 30px;
  }
  .hero-container::after {
    bottom: 104px;
    left: 354px;
    width: 376px;
    height: 322px;
    background: url("/tablet-main1.f29ab714.png") no-repeat 0 17px, url("/tablet-main2.19f58fbd.png") no-repeat 36px 0;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 727px) and (max-width: 1354px), screen and (min-resolution: 192dpi) and (min-width: 727px) and (max-width: 1354px), screen and (min-resolution: 2dppx) and (min-width: 727px) and (max-width: 1354px) {
  .hero {
    background-image: url("/tablet-bg@2x.5def1760.png");
  }

  .hero-container::after {
    background: url("/tablet-main1@2x.3b217d76.png") 0 10px, url("/tablet-main2@2x.beefa328.png") no-repeat 20px 0 contain;
  }
}
@media screen and (min-width: 1355px) {
  .hero {
    background-image: url("/desktop-bg.3307bab9.png");
    background-size: 1680px;
  }

  .hero-container {
    padding-top: 229px;
    padding-bottom: 241px;
  }
  .hero-container__title {
    font-size: 58px;
    line-height: 1.2931034483;
    width: 642px;
  }
  .hero-container__text {
    font-size: 20px;
    line-height: 1.65;
    margin-bottom: 40px;
  }
  .hero-container::after {
    bottom: 107px;
    left: 629px;
    width: 842px;
    height: 718px;
    background: url("/desktop-main1.1df36d4a.png") no-repeat 0 39px, url("/desktop-main2.bf57624a.png") no-repeat 81px 0;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1355px), screen and (min-resolution: 192dpi) and (min-width: 1355px), screen and (min-resolution: 2dppx) and (min-width: 1355px) {
  .hero {
    background-image: url("/desktop-bg@2x.1e2c30a8.png");
  }

  .hero-container::after {
    background: url("/desktop-main1@2x.de62cdea.png") 0 10px, url("/desktop-main2@2x.10e04dc3.png") no-repeat 20px 0 contain;
  }
}
.text__part-one {
  font-weight: 500;
  color: #b9b9b9;
}

.text__part-two,
.text__part-three {
  font-weight: 700;
}

.text__part-two {
  color: #111518;
}

.text__part-three {
  color: #ff6b09;
}

/* ========== End Hero ========== */
/* ========== Benefits ========== */
.benefits__container {
  padding: 0px 52px 50px 52px;
}
.benefits__item {
  display: flex;
}
.benefits__title {
  width: 146px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4285714286;
}
.benefits__svg {
  position: relative;
  margin-right: 10px;
}
.benefits__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.benefits__dollar {
  width: 35px;
  height: 40px;
}
.benefits__people {
  width: 39.19px;
  height: 40px;
}
.benefits__smart {
  width: 41.87px;
  height: 41px;
}

@media screen and (max-width: 726px) {
  .benefits__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 727px) {
  .benefits__container {
    padding: 0px 20px 50px 20px;
  }

  .benefits__list {
    display: flex;
    align-items: center;
  }
  .benefits__item:not(:last-child) {
    margin-right: 21px;
  }
}
@media screen and (min-width: 727px) and (max-width: 1354px) {
  .benefits__list {
    justify-content: space-between;
  }
}
@media screen and (min-width: 1355px) {
  .benefits__container {
    padding-bottom: 130px;
  }

  .benefits__title {
    margin-left: -18px;
    width: 340px;
    font-size: 20px;
    line-height: 1.65;
    letter-spacing: 0.08em;
  }
  .benefits__svg {
    margin-right: 0;
  }
  .benefits__item {
    align-items: center;
  }
  .benefits__icon__rectangle {
    width: 100px;
    height: 102px;
  }
  .benefits__dollar {
    width: 39.83px;
    height: 48px;
  }
  .benefits__people {
    width: 42px;
    height: 48px;
  }
  .benefits__smart {
    width: 48px;
    height: 47px;
  }
}
/* ========== End Benefits ========== */
/* ========== Proplems ========== */
.problems__bg {
  background-color: #111518;
}
.problems__title {
  color: #ffffff;
  font-weight: 800;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 726px) {
  .problems {
    height: 693px;
  }
  .problems__container {
    position: relative;
    padding-top: 50px;
    padding-bottom: 148px;
    max-width: 320px;
    height: 693px;
  }
  .problems__bg {
    max-height: 545px;
  }
  .problems__title {
    width: 230px;
    font-size: 20px;
    line-height: 1.35;
  }
}
@media screen and (min-width: 727px) and (max-width: 1354px) {
  .problems {
    height: 491.5px;
  }
  .problems .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .problems__bg {
    max-height: 340px;
  }
  .problems__title {
    width: 478px;
    font-size: 26px;
    line-height: 1.3076923077;
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 1355px) {
  .problems {
    height: 710px;
  }
  .problems .container {
    padding-top: 100px;
    position: relative;
  }
  .problems__container {
    height: 560px;
  }
  .problems__bg {
    max-height: 560px;
    background-image: url("/burn.3946592c.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 407px 472px;
  }
  .problems__title {
    width: 850px;
    font-size: 46px;
    line-height: 1.3043478261;
  }
}
@media screen and (min-width: 1355px) and (min-device-pixel-ratio: 2), screen and (min-width: 1355px) and (min-resolution: 192dpi), screen and (min-width: 1355px) and (min-resolution: 2dppx) {
  .problems__bg {
    background-image: url("/burn@2x.1794ffa1.png");
  }
}
/* ========== End Problems ========== */
/* ========== About Us ========== */
.about-us {
  padding: 50px 0;
}
.about-us__title {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: 0.03em;
  text-align: center;
  color: #111518;
}
.about-us__subtitle {
  margin: 20px 0 15px;
  font-size: 14px;
  line-height: 1.4285714286;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.08em;
  color: #111518;
}
.about-us__img {
  fill: #ff6b09;
  height: 48px;
}

.about-us__item {
  display: flex;
  padding: 30px 6px 0;
  width: 280px;
  height: 280px;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about-us__item:not(:last-child) {
  margin-bottom: 15px;
}
.about-us__item:hover {
  background-color: #ff6b09;
}
.about-us__item:hover .about-us__subtitle {
  color: #ffffff;
}
.about-us__item:hover .about-us__desc {
  color: #ffffff;
}
.about-us__item:hover .about-us__img {
  fill: #ffffff;
}
.about-us__item:hover .about-us__desc::before {
  background-color: #ffffff;
}

.about-us__desc {
  font-size: 12px;
  line-height: 1.6666666667;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.08em;
  color: #b9b9b9;
}
.about-us__desc::before {
  content: "";
  display: block;
  margin-bottom: 15px;
  margin: 0 auto;
  width: 20px;
  height: 2px;
  background-color: #ff6b09;
}

@media screen and (min-width: 727px) {
  .about-us__title {
    font-size: 26px;
    line-height: 1.3076923077;
  }
  .about-us__subtitle {
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 1.4285714286;
  }
  .about-us__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .about-us__desc::before {
    margin-bottom: 25px;
  }

  .about-us__item {
    width: 334px;
    height: 334px;
    padding: 40px 21px 0;
  }
  .about-us__item:not(:last-child) {
    margin-bottom: 0px;
  }
  .about-us__item:nth-child(-n+4) {
    margin-bottom: 27px;
  }
}
@media screen and (min-width: 1355px) {
  .about-us {
    padding: 130px 0;
  }
  .about-us__title {
    font-size: 46px;
    line-height: 1.3043478261;
    text-align: left;
    margin-bottom: 50px;
  }
  .about-us__subtitle {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 1.4;
  }

  .about-us__item {
    width: 425px;
    height: 396px;
    padding: 40px 29px 0;
  }
  .about-us__item:nth-child(-n+4) {
    margin-bottom: 0px;
  }
  .about-us__item:nth-child(-n+3) {
    margin-bottom: 20px;
  }

  .about-us__desc {
    font-size: 18px;
    line-height: 1.5555555556;
  }
  .about-us__desc::before {
    margin-bottom: 15px;
  }
}
/* ========== End About Us ========== */
/* ========== Syllabus ========== */
.syllabus {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-color: #111518;
}
.syllabus__container {
  display: block;
  padding-top: 50px;
  padding-bottom: 537px;
}
.syllabus__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.syllabus__program {
  display: block;
  position: relative;
  margin-top: 43px;
  margin-left: 80px;
}
.syllabus__program:before {
  display: block;
  position: absolute;
  top: 15px;
  left: -6.5px;
  content: "";
  background-color: #ffffff;
  width: 1px;
  height: calc(100% - 110px);
}
.syllabus__semester {
  padding-left: 20px;
}
.syllabus__semester:not(:last-child) {
  margin-bottom: 40px;
}
.syllabus__semester-title {
  display: inline-block;
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.08em;
  color: #ffffff;
  text-transform: uppercase;
}
.syllabus__semester-title::before {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translate(-100%, -50%);
  content: "";
  background-color: #ff6b09;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.syllabus__field-wrapper {
  margin-top: 5px;
}
.syllabus__field-title {
  display: inline-flex;
  align-items: center;
  padding: 6px 0px;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.6666666667;
  letter-spacing: 0.08em;
  color: #ff6b09;
  text-transform: none;
}
.syllabus__field-title::before {
  display: inline-block;
  margin-right: 5px;
  content: "";
  background-color: #ff6b09;
  width: 12px;
  height: 1px;
}
.syllabus__item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6666666667;
  letter-spacing: 0.08em;
  color: #b9b9b9;
  opacity: 0.5;
}
.syllabus:after {
  display: block;
  position: absolute;
  bottom: 440px;
  right: 0;
  content: "";
  width: 120px;
  height: 137px;
  background-size: 120px 137px;
  background-repeat: no-repeat;
  background-image: url("/mobile-program.92659be8.png");
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .syllabus:after {
    background-image: url("/mobile-program@2x.f529f343.png");
  }
}

.advantages {
  margin: 0 auto;
  background-color: #ffffff;
}
.advantages__container {
  display: block;
  position: relative;
  padding-bottom: 231px;
}
.advantages__wrapper {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: calc(100% - 2 * 20px);
}
.advantages__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.35;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 30px;
}
.advantages__list {
  padding: 20px 30px;
  background-color: #ffffff;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}
.advantages__item:not(:last-child) {
  margin-bottom: 20px;
}
.advantages__num {
  display: block;
  padding: 0;
  font-size: 14px;
  line-height: 1.6428571429;
}
.advantages__num:before {
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 726px) {
  .syllabus__title {
    text-align: center;
  }
  .syllabus__field:not(:first-child) {
    margin-top: 8px;
  }
  .syllabus:after {
    border: 1px solid #000000;
    border-right: none;
  }

  .advantages__title {
    width: 180px;
  }
  .advantages__num {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 727px) {
  .syllabus__container {
    padding-top: 60px;
    padding-bottom: 392px;
  }
  .syllabus__title {
    font-size: 26px;
    line-height: 1.3076923077;
  }
  .syllabus__program {
    margin-top: 52px;
    margin-left: 68px;
  }
  .syllabus__semester {
    padding-left: 50px;
  }
  .syllabus__semester:not(:last-child) {
    margin-bottom: 30px;
  }
  .syllabus__semester-title::before {
    left: -50px;
  }
  .syllabus__field {
    width: calc(100% / 3);
  }
  .syllabus__field:first-child {
    width: 176px;
  }
  .syllabus__field:last-child {
    width: 110px;
  }
  .syllabus__field:not(:first-child) {
    margin-left: 50px;
  }
  .syllabus__field-wrapper {
    display: flex;
  }
  .syllabus:after {
    bottom: 253px;
    width: 384px;
    height: 280px;
    background-size: 384px 280px;
    background-image: url("/tablet-program.99d56986.png");
  }
}
@media screen and (min-width: 727px) and (min-device-pixel-ratio: 2), screen and (min-width: 727px) and (min-resolution: 192dpi), screen and (min-width: 727px) and (min-resolution: 2dppx) {
  .syllabus:after {
    background-image: url("/tablet-program@2x.0463d40f.png");
  }
}
@media screen and (min-width: 727px) {
  .advantages__container {
    padding-bottom: 252px;
  }
  .advantages__wrapper {
    width: calc(100% - 2 * 20px);
  }
  .advantages__title {
    font-size: 26px;
    line-height: 1.3076923077;
    text-align: center;
  }
  .advantages__list {
    align-items: flex-start;
    justify-content: center;
    padding: 30px 100px 5px;
  }
  .advantages__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
  .advantages__name {
    max-width: 226px;
  }
}
@media screen and (min-width: 1355px) {
  .syllabus__container {
    padding-top: 120px;
    padding-bottom: 363px;
  }
  .syllabus__title {
    font-size: 46px;
    line-height: 1.3043478261;
  }
  .syllabus__program {
    display: flex;
    justify-content: space-between;
    margin: 92px auto 0px auto;
  }
  .syllabus__program:before {
    top: -8.5px;
    left: 50%;
    content: "";
    height: 1px;
    width: 100vw;
    transform: translateX(-50%);
  }
  .syllabus__semester {
    padding-top: 52px;
    padding-left: 0px;
    /*mim-max*/
  }
  .syllabus__semester:not(:last-child) {
    margin-bottom: 0px;
    /*mim-max*/
  }
  .syllabus__semester-title {
    font-size: 20px;
    line-height: 1.4;
  }
  .syllabus__semester-title::before {
    top: -52px;
    left: 8.5px;
    width: 17px;
    height: 16px;
    transform: translate(-50%, -100%);
  }
  .syllabus__field {
    display: inline-block;
    margin-top: 25px;
    min-width: 240px;
  }
  .syllabus__field-title {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 1.65;
  }
  .syllabus__field-title::before {
    margin-right: 10px;
    width: 20px;
    height: 2px;
  }
  .syllabus__field:not(:first-child) {
    margin-left: 0;
  }
  .syllabus__field-wrapper {
    flex-direction: column;
  }
  .syllabus:after {
    bottom: 60px;
    left: 0;
    width: 672px;
    height: 502px;
    background-size: 672px 502px;
    background-image: url("/desktop-program.bef515ca.png");
  }
}
@media screen and (min-width: 1355px) and (min-device-pixel-ratio: 2), screen and (min-width: 1355px) and (min-resolution: 192dpi), screen and (min-width: 1355px) and (min-resolution: 2dppx) {
  .syllabus:after {
    background-image: url("/desktop-program@2x.44e9ea96.png");
  }
}
@media screen and (min-width: 1355px) {
  .syllabus__item {
    font-size: 18px;
    line-height: 1.5555555556;
    letter-spacing: 0.08em;
  }
}
@media screen and (min-width: 1355px) {
  .advantages__container {
    padding-bottom: 199px;
  }
  .advantages__title {
    visibility: hidden;
  }
  .advantages__list {
    justify-content: space-between;
    padding: 70px 82px 50px;
  }
  .advantages__num {
    font-size: 20px;
    line-height: 1.65;
  }
  .advantages__name {
    min-width: 356px;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.06em;
  }
}
/* ========== End Syllabus ========== */
/* ========== Our Team ========== */
.our-team {
  padding-top: 39px;
  padding-bottom: 50px;
}
.our-team__title {
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: #111518;
}
.our-team__img {
  display: block;
  margin-bottom: 20.42px;
}
.our-team__name {
  display: block;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #b9b9b9;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  color: #111518;
}
.our-team__link {
  color: #ff6b09;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6666666667;
}

.our-team-experience {
  padding-bottom: 23px;
}
.our-team-experience > li {
  display: flex;
}
.our-team-experience > li:not(:last-child) {
  margin-bottom: 22px;
}
.our-team-experience__item > p {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2142857143;
  letter-spacing: 0.06em;
  color: #111518;
}
.our-team-experience__item::before {
  content: "";
  display: flex;
  height: 17px;
  min-width: 14px;
  margin-right: 9px;
  background-image: url(/checked.a1cc4103.svg);
  background-repeat: no-repeat;
}

.our-team-advantages {
  list-style: none;
  margin-bottom: 10px;
}
.our-team-advantages__item > p {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6666666667;
  color: #b9b9b9;
}
.our-team-advantages__item:not(:last-child) {
  margin-bottom: 24px;
}
.our-team-advantages::before {
  content: "";
  display: flex;
  height: 2px;
  width: 20px;
  margin-bottom: 24px;
  background-color: #ff6b09;
}

@media screen and (min-width: 727px) {
  .our-team-wrapper {
    display: flex;
  }
  .our-team-left-side {
    margin-right: 40px;
  }
}
@media screen and (min-width: 1355px) {
  .our-team {
    padding-bottom: 130px;
  }
  .our-team__title {
    margin-bottom: 50px;
    font-size: 46px;
    line-height: 1.3043478261;
  }
  .our-team__name {
    padding-bottom: 15px;
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 1.2333333333;
  }
  .our-team-right-side {
    padding-right: 100px;
  }

  .our-team-experience {
    padding-bottom: 32px;
  }
  .our-team-experience__item > p {
    font-size: 16px;
    line-height: 1.25;
  }
  .our-team-experience__item::before {
    height: 20px;
    min-width: 24px;
    margin-right: 34px;
    background-size: cover;
  }
  .our-team-experience__link {
    font-size: 18px;
    line-height: 1.5555555556;
  }

  .our-team-advantages {
    margin-bottom: 20px;
  }
  .our-team-advantages__item > p {
    font-size: 18px;
    line-height: 1.5555555556;
  }
  .our-team-advantages::before {
    margin-bottom: 36px;
  }
}
/* ========== End Our Team ========== */
/* ========== Warranty ========== */
.warranty__title {
  font-weight: 800;
  font-size: 26px;
  line-height: 1.3076923077;
  text-align: center;
  letter-spacing: 0.03em;
  color: #111518;
  margin-bottom: 30px;
}
.warranty__container {
  background-color: #f1f1f1;
  width: 320px;
  padding: 30px 20px;
  margin: 0 auto;
}
.warranty__item:not(:last-child) {
  margin-bottom: 23px;
}
.warranty__text {
  width: 245px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6666666667;
  color: #3d3d3d;
  margin-left: 28px;
}
.warranty__accent {
  color: #ff6b09;
}

.icon {
  position: relative;
  background-image: url("/campfire-m.53f0ebbd.svg");
  background-repeat: no-repeat;
}
.icon:not(:last-child)::after {
  position: absolute;
  top: 25px;
  left: 7.5px;
  display: block;
  content: "";
  border-left: 1px dashed #b9b9b9;
  width: 0px;
  height: 68px;
}

@media screen and (min-width: 727px) {
  .warranty__container {
    width: 688px;
    padding: 30px 64px;
  }
  .warranty__item:not(:last-child) {
    margin-bottom: 20px;
  }
  .warranty__text {
    width: 520px;
    margin-left: 32px;
  }

  .icon:not(:last-child)::after {
    top: 24px;
    height: 30px;
  }
}
@media screen and (min-width: 1355px) {
  .warranty__title {
    font-size: 46px;
    line-height: 1.3043478261;
    margin-bottom: 50px;
  }
  .warranty__container {
    width: 1314px;
    padding: 45px 112px;
  }
  .warranty__text {
    width: 1038px;
    font-size: 20px;
    line-height: 1.4;
    margin-left: 41px;
  }

  .icon {
    background-image: url("/campfire.0e32ec47.svg");
  }
  .icon:not(:last-child)::after {
    top: 34px;
    left: 11px;
    height: 40px;
  }
}
/* ========== End Warranty ========== */
.button__slider {
  width: 54px;
  height: 54px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.button__slider.first {
  background: url("/photo1.db9852f1.jpg") transparent center;
}
.button__slider.second {
  background: url("/photo2.b9768c12.jpg") transparent center;
}
.button__slider.third {
  background: url("/photo3.4fcc6abe.jpg") transparent center;
}
.button__slider.fourth {
  background: url("/photo4.bb13877f.jpg") transparent center;
}
.button__slider.fifth {
  background: url("/photo5.4851b57a.jpg") transparent center;
}
.button__slider.sixth {
  background: url("/photo6.f9758f77.jpg") transparent center;
}
.button__slider.seventh {
  background: url("/photo7.a45f29e1.jpg") transparent center;
}
.button__slider:active, .button__slider:hover, .button__slider:focus {
  border: 2px solid #ff6b09;
}
.button__slider.is-active {
  border: 2px solid #ff6b09;
}

.reviews {
  padding: 50px 0;
}
.reviews__photo.is-active .button__slider {
  border: 2px solid #ff6b09;
}
.reviews__title {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: 0.03em;
  text-align: center;
  color: #111518;
}
.reviews__item {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-bottom: 20px;
  text-align: center;
  background: #ffffff;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}
.reviews__item {
  display: none;
}
.reviews__item.is-active {
  display: block;
}
.reviews__left-side {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.reviews__main-photo {
  margin-bottom: 20px;
}
.reviews__social-link {
  width: 30px;
  height: 30px;
}
.reviews__box-title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.2142857143;
  font-weight: 800;
  letter-spacing: 0.08em;
  color: #ff6b09;
}
.reviews__box-subtitle {
  margin-bottom: 14px;
  font-size: 12px;
  line-height: 1.25;
  font-weight: 500;
  letter-spacing: 0.08em;
  color: #b9b9b9;
  width: 240px;
}
.reviews__desc {
  font-size: 12px;
  line-height: 1.6666666667;
  font-weight: 500;
  color: #3d3d3d;
  width: 240px;
  /* text-align: center; */
}
.reviews__to-be-continued {
  font-size: 12px;
  line-height: 1.6666666667;
  font-weight: 500;
  color: #ff6b09;
}
.reviews__gallery {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.reviews__button {
  width: 27px;
  height: 16px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.reviews__button.left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.reviews__button.right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.reviews__list {
  display: flex;
  flex-wrap: wrap;
  width: 182px;
  justify-content: space-between;
}
.reviews__photo:nth-child(n+4) {
  display: none;
}

@media screen and (min-width: 727px) {
  .reviews__gallery {
    position: static;
  }
  .reviews__block {
    position: relative;
    width: 713px;
  }
  .reviews__button.left {
    position: absolute;
    top: 157px;
    left: -13.5px;
  }
  .reviews__button.right {
    position: absolute;
    top: 157px;
    right: -13.5px;
  }
  .reviews__item {
    display: none;
    flex-direction: row;
    align-items: flex-start;
    padding: 40px;
    margin-bottom: 30px;
    text-align: left;
  }
  .reviews__item.is-active {
    display: flex;
  }
  .reviews__title {
    margin-bottom: 30px;
    font-size: 26px;
    line-height: 1.3076923077;
  }
  .reviews__right-side {
    display: block;
    margin-left: 46px;
  }
  .reviews__box-title {
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.2;
  }
  .reviews__box-subtitle {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
    width: 412px;
  }
  .reviews__desc {
    font-weight: 500;
    color: #3d3d3d;
    font-size: 12px;
    line-height: 1.6666666667;
    width: 412px;
  }
  .reviews__to-be-continued {
    font-size: 12px;
    line-height: 1.6666666667;
    font-weight: 500;
    color: #ff6b09;
  }
  .reviews__photo:nth-child(n+4) {
    display: block;
  }
  .reviews__list {
    width: 558px;
  }
}
@media screen and (min-width: 1355px) {
  .reviews {
    padding-top: 130px;
    padding-bottom: 130px;
  }
  .reviews .container {
    position: relative;
    padding: 0 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .reviews__gallery {
    margin-left: -60px;
  }
  .reviews__block {
    position: static;
    width: 1258px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .reviews__button.left {
    position: absolute;
    top: 300px;
    left: 47.5px;
  }
  .reviews__button.right {
    position: absolute;
    top: 300px;
    right: 47.5px;
  }
  .reviews__item {
    display: none;
    flex-direction: row;
    align-items: flex-start;
    padding: 40px;
    margin-bottom: 30px;
    text-align: left;
    width: 1090px;
    height: 370px;
  }
  .reviews__item.is-active {
    display: flex;
  }
  .reviews__title {
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 46px;
    line-height: 1.3043478261;
  }
  .reviews__right-side {
    display: block;
    margin-left: 46px;
  }
  .reviews__box-title {
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 1.2333333333;
  }
  .reviews__box-subtitle {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2142857143;
    letter-spacing: 0.08em;
    width: 438px;
  }
  .reviews__desc {
    font-weight: 500;
    color: #3d3d3d;
    font-size: 18px;
    line-height: 1.5555555556;
    width: 708px;
  }
  .reviews__to-be-continued {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5555555556;
    color: #ff6b09;
  }
  .reviews__photo:nth-child(n+4) {
    display: block;
  }
}
/* ========== Form ========== */
.form {
  background-image: url("/mobile-form.a1f5de74.png"), linear-gradient(#111518, #111518);
  background-size: 320px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 0;
}
.form .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.form__title {
  width: 280px;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.3571428571;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
.form__accent {
  color: #ff6b09;
}

.form-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-app__title {
  width: 280px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08em;
  margin-bottom: 30px;
}
.form-app__accent {
  color: #ff6b09;
}
.form-app__label:nth-child(2) {
  margin-bottom: 20px;
}
.form-app__label:nth-child(3) {
  margin-bottom: 50px;
}
.form-app__input {
  width: 280px;
  height: 48px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2142857143;
  letter-spacing: 0.08em;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  padding-left: 28px;
}
.form-app__input::placeholder {
  color: #ffffff;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 726px), screen and (min-resolution: 192dpi) and (max-width: 726px), screen and (min-resolution: 2dppx) and (max-width: 726px) {
  .form {
    background-image: url("/mobile-form@2x.e39ce159.png"), linear-gradient(#111518, #111518);
  }
}
@media screen and (min-width: 727px) {
  .form {
    background-image: url("/tablet-form.c92e52ad.png"), linear-gradient(#111518, #111518);
    background-size: 768px;
    padding: 50px 0 71px;
  }
  .form__title {
    width: 688px;
    font-size: 26px;
    line-height: 1.3076923077;
  }

  .form-app__title {
    width: 452px;
    font-size: 14px;
    line-height: 1.2142857143;
    margin-bottom: 40px;
  }
  .form-app__label:nth-child(3) {
    margin-bottom: 31px;
  }
  .form-app__input {
    width: 390px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 727px), screen and (min-resolution: 192dpi) and (min-width: 727px), screen and (min-resolution: 2dppx) and (min-width: 727px) {
  .form {
    background-image: url("/tablet-form@2x.d985b38b.png"), linear-gradient(#111518, #111518);
  }
}
@media screen and (min-width: 1355px) {
  .form {
    background-image: url("/desktop-form.312e4d6f.png"), linear-gradient(#111518, #111518);
    background-size: 1680px;
    padding: 100px 0 62px;
  }
  .form__title {
    width: 1090px;
    font-size: 46px;
    line-height: 1.3043478261;
    margin-bottom: 50px;
  }

  .form-app__title {
    width: 1090px;
    font-size: 30px;
    line-height: 1.2333333333;
    margin-bottom: 56px;
  }
  .form-app__label:nth-child(2) {
    margin-bottom: 30px;
  }
  .form-app__label:nth-child(3) {
    margin-bottom: 80px;
  }
  .form-app__input {
    width: 478px;
    height: 70px;
    font-size: 20px;
    line-height: 1.2;
    padding-left: 40px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1355px), screen and (min-resolution: 192dpi) and (min-width: 1355px), screen and (min-resolution: 2dppx) and (min-width: 1355px) {
  .form {
    background-image: url("/desktop-form@2x.6ac6945e.png"), linear-gradient(#111518, #111518);
  }
}
/* ========== End Form ========== */
/* ========== Footer ========== */
.footer {
  padding: 30px 0;
}
.footer .container {
  display: flex;
  align-items: center;
}
.footer .contact-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__tel {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2142857143;
  letter-spacing: 0.08em;
  color: #111518;
}
.footer__tel-icon {
  width: 20px;
  height: 19px;
  margin-right: 10px;
}
.footer__instagram {
  width: 40px;
  height: 40px;
}

.copyright {
  padding: 21px 0;
  background-color: #111518;
}
.copyright__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  color: #b9b9b9;
}

@media screen and (max-width: 726px) {
  .footer .container {
    flex-direction: column;
    justify-content: center;
  }
  .footer .contact-wrapper {
    flex-direction: column;
  }
  .footer__tel {
    margin: 20px 0 30px;
  }

  .copyright .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 727px) {
  .footer .container {
    justify-content: space-between;
  }
  .footer__tel {
    font-size: 20px;
    line-height: 1.2;
  }
  .footer__tel::after {
    display: flex;
    width: 1px;
    height: 40px;
    content: "";
    background-color: #b9b9b9;
    margin: 0 24px;
  }
  .footer__tel-icon {
    width: 24px;
    height: 23px;
  }
}
@media screen and (min-width: 1355px) {
  .footer .container {
    justify-content: left;
  }
  .footer .contact-wrapper {
    margin-left: 290px;
  }
  .footer__tel {
    font-size: 30px;
    line-height: 1.2333333333;
  }
  .footer__tel::after {
    margin: 0 24px 0px 16px;
  }
  .footer__tel-icon {
    width: 30px;
    height: 29px;
  }
}
/* ========== End Footer ========== */

/*# sourceMappingURL=/src.e31bb0bc.css.map */